body {
    font-family:sans-serif;
    background-color:black;
    background-image:url("bg.png");
    color:white;
}

h1,h2,h3 {
    color:orange;
    border-bottom:2px solid orange;
    padding:5px;
}
h2,h3 {
    border:none;
}
h4,h5,h6 {
    color:#fcdb8f;
}
.mono {
    font-family: monospace;
}

a, a:active, a:visited {
    color:deepskyblue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.ambox {
    padding:10px;
    background-color:rgba(23,132,234,0.333);
    border-left:5px solid #1784EA;
}

.ambox.warning {
    background-color:rgba(120,80,0,0.5);
    border-color: orange;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
}

figcaption.imgver {
    font-family: monospace;
    font-size:9pt;
    color:rgb(180,244,255);
    font-style: normal;
}
