body {
    font-family:sans-serif;
}

h1,h2,h3 {
    color:#12a8bc;
    border-bottom:2px solid #12a8bc;
    padding:5px;
}
h2,h3 {
    border:none;
}
.mono {
    font-family: monospace;
}
img.responsive {
    width:75%;
    height:auto;
}

a, a:active, a:visited {
    color:navy;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
