#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=Metroid Prime Door Randomizer
Icon=mpdr
Comment=Randomize doors for Metroid Prime
Comment[es_ES]=Aleatorizar puertas para Metroid Prime
Exec=mpdr %f
Categories=Game;
